#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#FFF; border:1px solid #444; padding:12px;}
#simplemodal-container .simplemodal-close {float:right; cursor:pointer;}
